
body {
    background-image: url(../images/rl-wallpaper.jpg);
}

.choice{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
} 
.container {
    background-color: whitesmoke;
}